// ---------------------------------------------------------------------------
// Breakpoints setup
// ---------------------------------------------------------------------------
$mobile:  new-breakpoint(max-width 500px 4);
$desktop: new-breakpoint(min-width 1336px 4);

// ---------------------------------------------------------------------------
// Fonts setup
// ---------------------------------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic);

$openSans: 'Open Sans Condensed';
$awesome:  'FontAwesome';

// ---------------------------------------------------------------------------
// Colors setup
// ---------------------------------------------------------------------------
$white:         #f8f8f8;
$grey-black:    #555;
$black:         #333;
$blue:          #499bea;
